<ion-content>
  <ion-text><h1>Calculadora</h1></ion-text>
  <ion-text><h2>Calcula tus impuestos a pagar</h2></ion-text>
  <div class="selections">
    <div class="categoria">
      <ion-text><h3>Tercera<br>Categoría</h3></ion-text>
      <ion-toggle color="primary"></ion-toggle>
      <ion-text><h3>Cuarta<br>Categoría</h3></ion-text>
    </div>
    <div class="categoria2">
      <ion-text><h3>Servicio</h3></ion-text>
      <ion-toggle color="primary"></ion-toggle>
      <ion-text><h3>Productos</h3></ion-text>
    </div>
    <!-- <div class="categoria">
      <ion-text><h3>Tercera Categoría</h3></ion-text>
      <ion-toggle color="primary"></ion-toggle>
      <ion-text><h3>Cuarta Categoría</h3></ion-text>
    </div> -->
  </div>
  <div class="calculadoras-1">
    <div class="calculadora-unica">
      <ion-icon name="calculator"></ion-icon>
      <ion-text><h3>Calculadora<br>Unica</h3></ion-text>
    </div>
    <div class="calculadora-anual">
      <ion-icon name="calculator"></ion-icon>
      <ion-text><h3>Calculadora<br>Anual</h3></ion-text>
    </div>
  </div>
  <!-- <div class="calculadoras-1">
    <div class="calculadora-unica">
      <ion-icon name="calculator"></ion-icon>
      <ion-text><h3>Calculadora<br>Unica</h3></ion-text>
    </div>
    <div class="calculadora-anual">
      <ion-icon name="calculator"></ion-icon>
      <ion-text><h3>Calculadora<br>Anual</h3></ion-text>
    </div>
  </div>
  <div class="calculadoras-1">
    <div class="calculadora-unica">
      <ion-icon name="calculator"></ion-icon>
      <ion-text><h3>Calculadora<br>Unica</h3></ion-text>
    </div>
  </div> -->
</ion-content>
