<ion-content>
  <ion-text>
    <h1>CALCULADORA</h1>
  </ion-text>
  <ion-text>
  </ion-text>
  <div class="main">
    <ion-text>
      <h2>Sub Total </h2>
    </ion-text>
    <ion-item lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;margin-top: -11px;"
      >S/</ion-label>
      <ion-input
      position="floating"
      id="input-venta"
      (ionFocus)="focusInputVenta('input-venta')" 
      (ionBlur)="unfocusInputVenta('input-venta')"
      (input)="getVenta($event.target.value)"
      [value]="venta"
      ></ion-input>
    </ion-item>
    <ion-text>
      <h2>IGV</h2>
    </ion-text>
    <ion-item lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;margin-top: -11px;"
      >S/</ion-label>
      <ion-input 
      position="floating"
      id="input-igv"
      (ionFocus)="focusInputIgv('input-igv')" 
      (ionBlur)="unfocusInputIgv('input-igv')"
      (input)='getIgv($event.target.value)'
      [value]="igv"
      ></ion-input>
    </ion-item>
    <ion-text>
      <h2>Total de Ventas</h2>
    </ion-text>
    <ion-item lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;margin-top: -11px;"
      >S/</ion-label>
      <ion-input 
      id="input-total"
      position="floating"
      (ionFocus)="focusInputTotal('input-total')" 
      (ionBlur)="unfocusInputTotal('input-total')"
      (input)='getTotal($event.target.value)'
      [value]="total"
      ></ion-input>
    </ion-item>
  </div>
  <ion-button  expand="block" (click)="reset()">Reinicar</ion-button>
</ion-content>
