<ion-content>
  <section class="top">
    <ion-text>
      <h1>CRONOGRAMA</h1>
    </ion-text>
    <ion-text>
      <h2>Lorem Ipsum Lorem Ipsum Lorem Ipsum</h2>
    </ion-text>
    <!-- <ion-item class="ion-no-padding">
      <ion-label position="floating">Buscar</ion-label>
      <ion-input
        type="tel"
        maxlength="11"
        inputmode="numeric"
        required="true"
        (keyup.enter)="generaraCronograma(cronograma)"
        placeholder="Introduce tu N° de RUC"
        [(ngModel)]="cronograma"
        enterkeyhint="done"
      ></ion-input>
    </ion-item> -->
    <ion-searchbar
        type="tel"
        maxlength="11"
        inputmode="numeric"
        required="true"
        (keyup.enter)="generaraCronograma(cronograma)"
        placeholder="Introduce tu N° de RUC"
        [(ngModel)]="cronograma"
        enterkeyhint="done"
    ></ion-searchbar>
  </section>
  <section class="down">
    <ion-text>
      <h1>RUC GUARDADOS</h1>
    </ion-text>
    <ion-list>
      <ion-item lines="none" *ngFor="let ruc of listRucs; let i=index" >
        <ion-label [routerLink]="['/cronograma', ruc.rucNumber]">{{ruc.rucName}}</ion-label>
        <ion-buttons slot="end">
          <ion-button 
            (click)="removeItem(i)"
          >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
        <!-- <ion-item-options side="end">
          <ion-item-option color="primary" (click)="removeItem(i)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
    </ion-list>
  </section>
</ion-content>
