ion-content{
    --ion-background-color:#F9FBFC;
    .top{
        padding: 0px;
        ion-text{
            text-align: center;
            h1{
                margin: 0;
                padding-top: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                color: #203680;
            }
            h2{
                margin: 0;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: #203680;
                padding-bottom: 35px;
            }
        }
        ion-item {
            --padding-end: 0px;
            --inner-padding-end: 0px;
            // here other custom CSS from documentation
          }
          .item-has-focus{
            color: #203680 !important;
          }
    }
    .down{
        ion-text{
            text-align: center;
            h1{
                margin: 0;
                padding-top: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                color: #203680;
                margin-bottom: 35px;
            }
        }
        ion-list{
            ion-item{
                ion-label{
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    color: #203680;
                }
            }
        }
    }
}