<div class="top2">
  <img src="./../../../assets/png/top2.png" alt="">
</div>
<ion-content class="main">
  <!-- <h1 class="title">CALCULADORA</h1> -->
  <!-- <h2 class="sub_title">Calcula tus impuestos a pagar</h2> -->
<!-- <ion-content class="main2" style="height: 40%;--background: rgba(255, 255, 255, 0);"> -->
  <div class="main2">

    <h2 class="labels">Total de Ventas</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
      <ion-input
      inputmode="numeric"
      id="input-total"
      (ionFocus)="focusInputTotal('input-total')"
      (ionBlur)="unfocusInputTotal('input-total')"
      (input)='getTotal($event.target.value)'
      [value]="total"
      ></ion-input>
    </ion-item>
    <h2 class="labels">IGV a Pagar (Ventas)</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
      <ion-input
      inputmode="numeric"
      id="input-igv"
      (ionFocus)="focusInputIgv('input-igv')"
      (ionBlur)="unfocusInputIgv('input-igv')"
      (input)='getIgv($event.target.value)'
      [value]="igv"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Sub Total (Ventas)</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
      <ion-input
      inputmode="numeric"
      id="input-venta"
      (ionFocus)="focusInputVenta('input-venta')"
      (ionBlur)="unfocusInputVenta('input-venta')"
      (input)="getVenta($event.target.value)"
      [value]="venta"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Total de Compras</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-compra"
    (ionFocus)="focusInputCompras('input-compra')"
    (ionBlur)="unfocusInputCompras('input-compra')"
    (input)="getCompra($event.target.value)"
    [value]="compras"
    ></ion-input>
    </ion-item>
    <h2 class="labels">IGV/CRED. Fiscal</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-igv"
    (ionFocus)="focusInputIgv('input-igv')"
    (ionBlur)="unfocusInputIgv('input-igv')"
    [value]="creditofiscal"
    disabled="true"
    ></ion-input>
    </ion-item>
    <h2 class="labels">Sub Total de Compras</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-total"
    [value]="total_compras"
    disabled="true"
    ></ion-input>
    </ion-item>
    <h2 class="labels">Credito Fiscal Mes Anterior</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-credt"
    (ionFocus)="focusInputCredt('input-credt')"
    (ionBlur)="unfocusInputCredt('input-credt')"
    (input)="getCredtMes($event.target.value)"
    placeholder="0"
    [value]="credito_mesanterior"
    ></ion-input>
    </ion-item>
    <h2 class="labels">Compras que representan el total<br>  del credito fiscal anterior</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-credtTot"
    (ionFocus)="focusInputCredtTot('input-credtTot')"
    (ionBlur)="unfocusInputCredtTot('input-credtTot')"
    (input)="calcTotalMesAnterior2($event.target.value)"
    placeholder="0"
    [value]="total_mesanteriorTot"
    ></ion-input>
    </ion-item>
    <h2 class="labels">IGV a Pagar</h2>
    <ion-item class="inputs" lines="none">
      <ion-label
      position="start"
      style="z-index: 1;margin-left: 1rem;"
      >S/</ion-label>
    <ion-input
    inputmode="numeric"
    id="input-venta"
    [value]="igv_pagar"
    disabled="true"
    ></ion-input>
    </ion-item>
  <!-- </ion-content> -->
<div class="selector-tipo">
  <ion-label>Tipo de Regimen</ion-label>
  <ion-select [value]="selected" interface="action-sheet" okText="Elegir" cancelText="Cancelar" (ionChange)="regimenChange($event)">
    <ion-select-option value="default"></ion-select-option>
    <ion-select-option value="RER">Régimen Especial de Renta</ion-select-option>
    <ion-select-option value="RMT">Régimen MYPE Tributario</ion-select-option>
    <ion-select-option value="RG">Régimen General</ion-select-option>
  </ion-select>
</div>
<ion-item style="padding-left: 30px;font-size: 24px;color: #03335e;" lines="none">
  <ion-label>{{regimen}}</ion-label>
</ion-item>
</div>

<!-- <ion-button class="button"  expand="block" (click)="reiniciar()">Reiniciar</ion-button> -->
</ion-content>
