<ion-content class="main">
  <div class="top" style="display: flex;flex-direction: row;">
    <ion-back-button style="color: white;" text="" defaultHref="/cronograma"></ion-back-button>
    <ion-text *ngIf="dataLoaded==true">
      <h1 class="ruc">{{rucNumber}}</h1>
    </ion-text>
  </div>
  <div class="titles">
    <ion-text>PERIODO</ion-text>
    <ion-text>FECHA</ion-text>
  </div>
  <ion-content style="height:50%;--background: rgba(255, 255, 255, 0);">
    <ion-list>
      <ion-item lines="none" *ngFor="let ruc of rucs">
        <ion-label>{{ruc.PERIODO}}</ion-label>
        <ion-label>{{ruc.FECHA}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-button class="boton" *ngIf="savedRuc===false" expand="block" (click)="openModal()">
    Guardar
  </ion-button>
</ion-content>
  