<ion-content>
  <ion-label position="stacked" class="labels">Stacked Label</ion-label>
  <ion-input type="number" placeholder="Numero RUC" [(ngModel)]="rucNumber" class="inputs" id="rucNumber"></ion-input>
  <ion-label position="stacked" class="labels">Stacked Label</ion-label>
  <ion-input type="text" placeholder="Nombre de la Empresa" class="inputs" [(ngModel)]="rucName" id="rucName"></ion-input>
  <ion-button (click)="addData()" color="light" class="btn-save">Guardar</ion-button>
</ion-content>
