ion-content{
    --background: #203680;
    --padding-bottom: 32px;
    --padding-top: 32px;
    .labels{
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        margin-left:80px;
    }
    .inputs{
        background: #fff;
        max-width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        text-align: center;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
    }
    .btn-save{
        margin-top: 32px;
        margin-left: 120px;
    }
}