ion-content{
    --ion-background-color: linear-gradient(90deg, #0D2B56, #005AA3);
    --padding-bottom: 24px;
    --padding-top: 32px;
    .labels{
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        margin-left:60px;
    }
    .inputs{
        background: #fff;
        max-width: 80% !important;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        border-radius: 10px;
        text-align: center;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
    }
    .btn-save{
        margin-top: 12px;
        margin-left: 120px;
    }
}