<ion-content class="main" [fullscreen]="true">
  <div class="content">
    <h2>Bienvenidos a</h2>
    <h1>IMPUESTOS PERÚ</h1>
    <p>
      Somos un estudio contable tributario y legal que ha desarrollado esta app útil para ti.
    </p>
    <ion-button expand="large" class="info-button" (click)="contact()">
      CONTACTANOS
    </ion-button>
    <p class="info">*Presion aqui para obtener asesoria gratuita en temas de contabilidad tributación, constitución de empresas, temas societarios y mas...</p>
  </div>
</ion-content>
