<ion-content [fullscreen]="true">
  <ion-text>
    <h1>BIENVENIDO A <br> IMPUESTOS PERÚ </h1>
  </ion-text>
  <ion-text>
    <p>
      SOMOS UN ESTUDIO CONTABLE TRIBUTARIO Y LEGAL QUE HA DESARROLLADO ESTA APP ÚTIL PARA TI.
    </p>
  </ion-text>
  <ion-button expand="large" color="primary" class="info-button" (click)="contact()">
    CONTACTANOS
  </ion-button>
  <ion-text>
    <p class="info">*PRESIONA AQUI PARA OBTENER ASESORIA GRATUITA EN TEMAS DE CONTABILIDAD TRIBUTACION, CONSTITUCION DE EMPRESAS, TEMAS SOCIETARIOS Y MAS...</p>
  </ion-text>
    <ion-img src="../../assets/png/welquer.png"></ion-img>
</ion-content>
