.main{
  --background: url('./../../assets/png/1.png') 0 0/100% 95% no-repeat;
  background-size: cover;
  --padding-top: 80px;
  .content{
    padding-left: 30px;
    h2{
      font-size:34px;
      font-weight:400;
      color:rgba(255, 255, 255, 0);
    }
    h1{
      margin-top: 29px;
      max-width: 82%;
      font-size: 50px;
      font-weight: bold;
      color: #41d1d900;
      font-family: 'Montserrat', sans-serif;
    }
    p{
      margin-top: 30px;
      max-width: 50%;
      font-size: 13px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      font-family: 'Montserrat', sans-serif;
    }
    ion-button{
      margin-top: 14px;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    }
    .info-button{
      --color:black;
      --background: #fff;
      --border-radius: 13px;
    }
    .info{
      color: #238cb5;
      line-height: 16px;
      max-width: 38%;
      margin-top: 22px;
      font-size: 10px;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
    }
  }

}