ion-content{
    --background: url('./../../../assets/png/3.jpg') 0 0/100% 100% no-repeat;
    --ion-background-color: #f4f5f8;
    ion-item{
        color: #03335e;
        --background: rgba(255, 255, 255, 0) !important;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.178));
    }
    .title{
        color: #fff;
        padding-top: 105px;
        padding-bottom: 115px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    .sub_title{
        color: #03335e;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 19px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .main{
        .labels{
            margin: 0;
            color: #03335e;
            font-size: 16px;
            padding-left: 45px;
            font-weight: 400;
        }
        .inputs{
            width: 90%;
            margin: auto;
            margin-bottom: 15px;
            ion-input{
                --border-color: var(--ion-color-danger, #f1453d);
                --background: white;
                font-size: 23px;
                color: #4D4D4D;
                border-radius: 18px !important;
                padding-left: 35px !important;
                // margin-bottom: 10px !important;
                border : solid 2px #20368038;
                z-index: 0;
            }
        }
        .select{
            background: linear-gradient(90deg, #0D2B56, #005AA3) !important;
            color: #fff;
            width: 80%;
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            border-radius: 14px;
        }
    }
}